
 body{
    background: url('black.png') repeat center, url('bg1.png') no-repeat center, linear-gradient(#6198d5, #58baeb);
    margin: 0;
    padding: 0;
    }
    .container{
      margin-top: 20%;
      /*margin-left: 15%;*/
      text-align: -webkit-center;
     
    }
    .container p {
    font-family: myriad-pro, sans-serif;
    font-size: 35px;
    color: #262061;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5;
    text-align: left;
    padding: 0 280px;
    }
    .marginLeft{
        margin-left: 200px;
    }